<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.rootmos.audiojournal">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:label="@string/application"
        android:theme="@style/app"
        android:icon="@mipmap/audio_journal"
        android:allowBackup="false"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordingActivity"
            android:parentActivityName=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ListTemplatesActivity"
            android:label="@string/manage_templates"
            android:parentActivityName=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".EditTemplateActivity"
            android:label="@string/edit_template"
            android:parentActivityName=".ListTemplatesActivity" />
        <service android:name=".RecordingService" />
        <service android:name=".UploadService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
